<div class="results">
	<h1>Results</h1>
	<p>Your content here.</p>

	<p>Results: {{projectsCount}} Projects</p>
	<br />

	{{#each}}
	<div class="result">
		<p>{{status}}</p>
		<p>{{title}}</p>
	</div>
	{{/each}}

</div>