@import url(http://fonts.googleapis.com/css?family=Droid+Serif);
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);

body, html {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
  font-family: 'Yanone Kaffeesatz';
}

h1 {
	padding: 5px;
	margin: 0px;
}

.leaflet-container {
	height: 100%;
}
body .ember-view:first-of-type {
    height: 100%;
}
.map-container {
	height: 100%
}
.layout {
	padding:0;
	margin:0;
	width: 100%;
	height: 100%;
	ul {
    width: 100%; /* or your desired width */
    height:100%;
    padding: 0;
    margin: 0;
    text-align: center; /* this will center the list items */
    list-style:none;
	    .sidebar {
	    		
				float: left;
				margin: 5px;
				min-width: 250px;
				text-align: left;
	    }
	}
}

.results {
	width: 100%;
	height: 100%;
	overflow: scroll;
	.result {
		width: 240px;
	}
}